@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Setting 1rem to 10px */
  font-size: 62.5%;
}

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  color: #aaa9a9;
}

button:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.todos__title {
  text-align: center;
  margin-top: 5%;
}

.todos__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% auto;
  font-size: 1.4rem;
  box-shadow: 0 0.2rem 0.8rem 0 #63636333;
}

.todos_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dadada;
}

.todos__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dadada;
}

.todos__add-input {
  border: 0;
  outline: none;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.todos__list {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.todo_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dadada;
}

.todo_list label {
  margin-left: 0.5rem;
}

.todo_list div {
  display: flex;
  align-items: center;
}

.checkbox-input:checked + label {
  text-decoration: line-through;
  background-color: #fffed3;
}

.todos__remove {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

.btn-remove-all:hover {
  text-decoration: underline;
}

.edit_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 300;
  background-color: #fffed3;
}

.edit_list-input {
  border: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  background-color: #fffed3;
}

.icon {
  color: #aaa9a9;
}

@media (min-width: 768px) {
  .todos__title {
    text-align: center;
    margin-top: 5%;
  }

  .todos__container {
    width: 40%;
    margin: 5% auto;
  }
}
